<a href="{{ routes.cart_url }}" class="header__icon header__icon--cart" id="cart-icon-bubble">
  {% render 'icon-cart' %}
  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
  {%- if cart != empty -%}
    <div class="cart-count-bubble">
      <span aria-hidden="true">{{ cart.item_count }}</span>
      <span class="visually-hidden">{{ 'sections.cart.items_in_cart' | t: count: cart.item_count }}</span>
    </div>
  {%- endif -%}
</a>
