<div class="collection-banner section page-width color-{{ section.settings.color_scheme }}">
  <h1 class="collection-banner__title">{{ collection.title | escape }}</h1>
  {%- if section.settings.show_description and collection.description != blank -%}
    <div class="collection-banner__description rte">{{ collection.description }}</div>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "Collection banner",
  "settings": [
    { "type": "checkbox", "id": "show_description", "default": true, "label": "Show collection description" },
    { "type": "color_scheme", "id": "color_scheme", "default": "scheme-1", "label": "Color scheme" }
  ]
}
{% endschema %}
